<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xkglow.xkcommand">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".XKcommandApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectSensorActivity" />
        <activity android:name=".EditSensorActivity" />
        <activity android:name=".EditNameActivity" />
        <activity android:name=".SelectButtonActivity" />
        <activity android:name=".EditButtonActivity" />
        <activity android:name=".EditButtonIconActivity" />
        <activity android:name=".EditButtonImageActivity" />
        <activity android:name=".CameraActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SelectChannelActivity" />
        <activity android:name=".EditSystemActivity" />
        <activity android:name=".EditColorActivity" />
        <activity android:name=".DevicePairActivity" />
        <activity android:name=".EditChannelActivity" />
    </application>

</manifest>